; IMPORTANT! This is a template file. Rename it as 'mysql-credentials.ini' and provide the appropriate MySQL username and password. 

; This file is read using "$mysql_credentials = parse_ini_file('../../mysql-credentials.ini');"

[mysql_credentials]
host = 'localhost'
username = '<USERNAME>'
password = '<PASSWORD>'
database = 'forms'
charset = 'utf8'
