@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

* {
    box-sizing: border-box;
}

html,body {
    font-family: "Open Sans";
    height:100%;
    width:100%;
    margin:0;
    padding: 0 25px 0 25px;
}

pre {
    font-family: "Source Code Pro";
    font-size: 10pt;
}

pre a {
    text-decoration: none;
}

pre a:hover {
    text-decoration: underline;
}

code {
	font-family: "Source Code Pro";
	color: #aaa;
	padding: 2px;
}

form {
    margin-bottom: 20px;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 15px;
}

input[type=submit] {
    margin-top: 20px;
    padding:15px 25px;
    background: LightSlateGray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ededed;
    font-size: 1.25em;
}

.column {
    float: left;
    padding: 0 0 10px 10px;
}

.outer-left {
    width: 25%;
}

.outer-right {
    width: 75%;
    border-left: 1px solid #ccc;
}

.inner {
    width: 50%
}

.tree {
    border-top: 1px solid #ccc;
    margin: 25px 0 0 0;
}

.row {
    border-bottom: 1px solid #ccc;
}

.row:after, .row-index:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    text-align: center;
}

